html , body{
  background-color: brown;
  z-index: -1;
}
.navbar-brand{
  font-size: 10px;
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style:italic;
  /* color: brown; */
   border: 2px soilid yellow;
}

.bg-body-tertiary {
  
  background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}

.form-control{
  font-family: sans-serif;
}

button{
  background-color: aquamarine;
  border-radius: 10px;
}

.text-center {
  text-align: center!important;
}

.p-4 {
  padding: 1.5rem!important;
}

.footer{
 
  margin-top:20px;
  left: 0;
  height: 100px;
}

.container{
  display: flex;
}

.footer-text{

   width: 500px;
   margin-right: 650px;
}

.social-icons a{
  
  
  height: 10px;
  float: right;
  margin-left:30px;
 
  
}

